
It is preferred to directly use it in google colab.
Libraries and their versions:
Python 3.7.12
pandas 1.1.5
sklearn 1.0.1
numpy 1.19.5
nltk 3.2.5
tqdm 4.62.3
bs4 4.6.3
scipy 1.4.1
joblib 1.1.0
tensorflow 2.7.0
re 2.2.1
gensim 3.6.0
